@model Categoria

<h2>Detalhes da Categoria</h2>

<div class="form-group">
    <label><strong>Nome:</strong></label>
    <p>@Model.NM_CATEGORIA</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Voltar</a>
