@model Aluno

<h2>Detalhes do Aluno</h2>

<div class="form-group">
    <label><strong>Nome:</strong></label>
    <p>@Model.NM_ALUNO</p>
</div>

<div class="form-group">
    <label><strong>Email:</strong></label>
    <p>@Model.EML_ALUNO</p>
</div>

<div class="form-group">
    <label><strong>Data de Nascimento:</strong></label>
    <p>@Model.DT_NASC.ToShortDateString()</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Voltar</a>
